$size: 20px;
$fondo-gradiente: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
$tamaño-img: 15vw;
$ancho: 100vw;
$fcolor: black;
$white: #ffffff;
$celeste: #3a85ffa1;
$fondo-gradiente-celeste: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(58,133,255,1) 100%);
$fondo-body: rgb(212, 212, 212);
$h1Desktop: 25px;
$h1Moobile: 180px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
