@import "../variables/-variables.scss";
@import "../sass2/maps";
@import "../sass2/extend";
body{
    background-color: $fondo-body;
    width: $ancho;
    overflow-x:hidden ;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}