@import "../variables/-variables.scss";
@import "../sass2/maps";
@import "../sass2/extend";
@import "../sass2/mixins";

header {
    background: $fondo-gradiente;

    .icono-suelo {
        display: block;
        margin: auto;
        width: $tamaño-img;
    }

    nav {
        color: $fcolor;
        @include estilos-ancla;
        @include fuentes;
    }

}