@import "../variables/-variables.scss";
@import "../sass2/maps";
@import "../sass2/extend";

.grid-item div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    margin-top: 1vh;
    margin-right: 1vw;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, fr);
    grid-template-areas:
        "grid-item__articulo grid-item__aside"
        "grid-item__articulo ."
}



.grid-item__articulo {
    width: 22vw;
    grid-area: grid-item_articulo;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 5%;
    margin-bottom: 3vh;

    @extend .grid-item__articulo;


    &:hover {
        background: $fondo-gradiente;
        color: $fcolor;
    }
    & button{
        color: $fcolor;
    }
    & button:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    & img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 19vw;
        height: 29vh;
    }
}


main {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 1%;
    justify-content: space-around;
    padding: 2vw;
    text-align: center;
    font-style: normal;
    font-size: 2rem;

    & li {
        list-style: none;
    }

    & .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    & .card-body .card-text {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }

    & .card-body button{
        color: black;
    }

    & .card-title:hover {
        color: $celeste
    }

    & img {
        border: solid black 2px;
    }
}
.grid-item__aside {
    display: flexbox;
    grid-area: grid-item__aside;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    margin-top: 6vh;
    border-color: $celeste;
    padding-bottom: 50px;
    margin-right: 1vw;
    height: fit-content;
}
    aside{
        &:hover {
            background-color: $celeste;
            color: white;
        }
        
        & h3 {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 1vw;
        }
        
        & h4 {
            font-size: 1.3rem;
        }
        
        & li {
            font-size: 0.8rem;
            display: block;
            margin: 5px;
            text-align: start;
            padding-left: 0.1vw;
            justify-items: start;
        }
        
        & ul {
            text-align: start;
            margin-left: 0.2vw;
        }
        &:hover {
            background: $fondo-gradiente-celeste;
            color: white;
        }
        & h3 {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 1vw;
        }
        & h4 {
            font-size: 1.3rem;
        }
        & li {
            font-size: 0.8rem;
            display: block;
            margin: 5px;
            text-align: start;
            padding-left: 0.1vw;
            justify-items: start;
        }
        & ul {
            text-align: start;
            margin-left: 0.2vw;
        }
    }
a{
    color: $fcolor;
    text-decoration: none;
}