@import "../variables/-variables.scss";
@import "../sass2/maps";
@import "../sass2/extend";



@media screen and (max-width: 1023px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: $ancho;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }

    header {
        background-color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }



    .grid-container {
        margin-top: 1vh;
        margin-right: 1vw;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(2, fr);
        grid-template-areas: "grid-item__articulo grid-item__aside"
            "grid-item__articulo .";

        .grid-item div {
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
    }



    .grid-item__articulo {
        width: 22vw;
        grid-area: grid-item_articulo;
        display: flex;
        flex-wrap: wrap;
        color: white;
        background-color: #2d83bd;
        border-radius: 5%;
        margin-bottom: 3vh;




        &:hover {
            background: $amarillo;
            color: black;

            & .card-title {
                color: black;
            }

            & .card-body .card-text {
                color: black;
            }

            & button {
                color: white;
                background-color: #2d83bd;

                & a {
                    color: white;
                }
            }
        }

        button {
            color: black;
            padding: 1vw;
            background-color: $amarillo;

        }


        & img {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 19vw;
            height: 29vh;
        }
    }


    .grid-item {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 2rem;

        & li {
            list-style: none;
        }

        & .card-title {
            color: white;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            user-select: none;
        }

        & .card-body .card-text {
            display: flex;
            color: white;
            flex-wrap: wrap;
            font-size: 0.8rem;
        }



        & img {
            border: solid black 3px;
        }
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: $amarillo;
        text-align: center;
        border-radius: 10px;
        margin-top: 6vh;
        border-color: $celeste;
        padding-bottom: 50px;
        margin-right: 1vw;
        height: fit-content;
    }

    aside {
        &:hover {
            background-color: $celeste;
            color: white;

            button {
                color: black;
                background-color: $amarillo;
            }
        }

        & button {
            background-color: $celeste;
        }

        & h3 {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 1vw;
        }

        & h4 {
            font-size: 1.3rem;
        }

        & li {
            font-size: 0.8rem;
            display: block;
            margin: 5px;
            text-align: start;
            padding-left: 0.1vw;
            justify-items: start;
        }

        & ul {
            text-align: start;
            margin-left: 0.2vw;
        }



        & h3 {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 1vw;
        }

        & h4 {
            font-size: 1.3rem;
        }

        & li {
            font-size: 0.8rem;
            display: block;
            margin: 5px;
            text-align: start;
            padding-left: 0.1vw;
            justify-items: start;
        }

        & ul {
            text-align: start;
            margin-left: 0.2vw;
        }
    }

    a {
        color: $fcolor;
        text-decoration: none;
    }
}
    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }


    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 26vw;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }


    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }
    footer {
        width: $ancho;
        display: block;
        color: rgb(255, 255, 255);
        background: $celeste;
        margin-top: 5vh;
        bottom: 0;
    
        a{
            width: fit-content;
        }
        & h2 {
            display: block;
            color: $celeste;
            border: solid black black none black 2px;
            background-color: $amarillo;
            text-align: $alinear-al-centro;
        }
    
        & h3 {
            font-size: 1.2rem;
            text-align: left;
            margin-bottom: 1vh;
        }
    
        & p {
            font-size: 0.6rem;
            text-align: $alinear-al-centro;
            padding-bottom: 1vh;
        }
    
        & li {
            color: white;
            display: block;
            list-style: none;
    
        }
    
        .flex-container {
            display: flex;
            width: $ancho;
            padding-left: 1%;
            @extend .flex-container;
        }
    
        .flex-item__web {
            width: 30vw;
            display: flex;
            flex-direction: column;
            justify-items: flex-end;
            margin-left: auto;
            margin-right: 2vw;
            text-align: end;
            color: white;
            & img {
                width: 2vw;
            }
        }
    
        .flex-item__contact {
            width: $ancho - 70vw;
            display: flex;
            justify-items: flex-start;
            text-align: left;
            flex-direction: column;
            justify-content: space-between;
            color: white;
    
            & li {
                display: flex;
                text-align: flex-start;
                justify-content: start;
                color: white;
            }
        }
    

        .flex-item__icono{
            display: block;
            width: $ancho;
            margin-left: auto;
            margin-right: auto;
            img{
                display: flex;
                width: $tamaño-img;
                margin: auto;
                margin-right: auto;
            }
        }
    
        .flex-item__redes {
            width: fit-content;
            display: flex;
            margin-bottom: 1vh;
            justify-content: flex-end;
            color: white;
        }
    }