@import "../variables/-variables.scss";

.flex-container{
    width: $ancho;
    background-color: $fondo-gradiente-celeste;
    font-family: $tipo-de-letra;
    color: $fcolor;
}
.grid-item__articulo{
    background-color: $celeste;
    color: $fcolor;
    font-family: $tipo-de-letra;

}
