$size: 20px;
$fondo-gradiente: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
$amarillo: rgba(255, 247, 85, 1);
$fondo-header: white;
$tamaño-img: 15vw;
$ancho: 100vw;
$alto: 100vh;
$fcolor: black;
$white: #ffffff;
$celeste: #2d83bd;
$fondo-gradiente-celeste: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
$fondo-body: rgb(212, 212, 212);
$h1Desktop: 25px;
$h1Moobile: 180px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
$carousel-control-color: black;
$carousel-control-width:             15%;
